{% extends "layout.html" %}
{% block content %}

<div class="container mt-4" style="max-width: 420px;">
  <h4 class="mb-3">Update Profile</h4>

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="mb-3 text-center">
      {% if profile.avatar %}
        <img src="{{ profile.avatar.url }}" class="rounded-circle" width="120">
      {% else %}
        <div class="rounded-circle bg-secondary text-white d-flex align-items-center justify-content-center"
             style="width:120px;height:120px;">
          {{ request.user.username|slice:":2"|upper }}
        </div>
      {% endif %}
    </div>

    <div class="mb-3">
      <label class="form-label">Profile picture</label>
      {{ form.avatar }}


    <div class="mb-3">
      <label class="form-label">Bio</label>
     {{ form.bio }}

    </div>

    <button class="btn btn-primary w-100">Save</button>
  </form>
</div>

{% endblock %}
